*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Primary Brand */
  --color-primary: #5C4033;          /* Deep Walnut Brown */

  /* Premium Accent */
  --color-gold: #C89B3C;              /* Royal Gold */

  /* Natural Accent */
  --color-olive: #6B8E23;             /* Muted Olive */

  /* Light Mode */
  --color-bg-light: #F8F5F1;          /* Warm Cream */
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #6C6C6C;

  /* Dark Mode */
  --color-bg-dark: #1E1B18;           /* Deep Earth Dark */
  --color-text-dark-primary: #FFFFFF;
  --color-text-dark-secondary: #B5B5B5;

  /* Utility */
  --color-border: #E5E0DA;
  --color-danger: #B23A3A;
  --color-success: #3E7C59;

  /* Button */
  --color-btn-hover: #4A3328;
}

.color{
  width: 100%;
  height: 100px;
  background: #6C6C6C
}