.footer{
    background-color: var(--color-bg-dark);
    color: #ddd;
    padding: 60px 0px 30px 0px;
}
.footer h3{
    color: var(--color-gold);
}
.footer p{
    color: #aaa;
    font-size: 14px;
}
.footer h6{
    color: var(--color-gold);
}
.footer ul li{
    line-height: 2;
}
.footer ul li a{
    text-decoration: none;
    color: #aaa;
    transition: all 300ms ease;
}
.footer ul li a:hover{
    color: var(--color-gold);
}
