.orderCard {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    transition: 300ms;
}
.orderCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.orderPImg {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}
.orderStatus {
    background: var(--color-bg-light);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
}