.heroBanner{
    padding: 16px 0px;
}
.heroBanner img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.heroContent{
    padding: 60px 0px;
}
.heroContent h5{
    background-color: var(--color-gold);
    color: white;
    border-radius: 12px;
    font-size: 14px;
}
.heroContent h1{
    font-size: 44px;
    color: var(--color-text-primary);
    font-weight: 700;
}
.heroContent button{
    margin-top: 16px;
    background-color: var(--color-primary);
    padding: 12px 16px;
    border-radius: 8px;
    text-transform: none;
}
.heroContent button:hover{
    background-color: var(--color-btn-hover);
}
.categories{
    padding: 60px 0px;
}
.categories h1{
    font-family: 'Playfair Display, serif';
    font-weight: 700;
    color: var(--color-text-primary);
}
.CatCard{
    cursor: pointer;
    border-radius: 18px;
}
.CatCard img{
    object-fit: cover;
    transition: 400ms ease;
}
.bestSeller{
    background-color: white;
}
.productCard{
    border-radius: 18px;
    overflow: hidden;
    transition: all 300ms ease;
    margin-bottom: 18px;
}
.productCard:hover{
    transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}
.product_img{
    height: 220px;
    object-fit: cover;
    transition: all 400ms ease;
}
.productCard:hover  .product_img{
  transform: scale(1.05);
}
.productCard p{
    color: var(--color-primary);
}
.productCard button{
    background-color: var(--color-primary);
    border-radius: 8px;
    text-transform: none;
    transition: all 300ms ease;
}
.productCard button:hover{
    background-color: var(--color-btn-hover);
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f0f5e8;
    color: var(--color-olive);
}
.why p{
    font-size: 14px;
    color: var(--color-text-secondary);
}
.testi p{
    color: var(--color-text-secondary);
    font-size: 16px;
    font-style: italic;
}
.testi h5{
    color: var(--color-primary);
}