.heroBanner{
    padding: 16px 0px;
}
.heroBanner img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.heroContent{
    padding: 60px 0px;
}
.heroContent h5{
    background-color: var(--color-gold);
    color: white;
    border-radius: 12px;
    font-size: 14px;
}
.heroContent h1{
    font-size: 44px;
    color: var(--color-text-primary);
    font-weight: 700;
}
.heroContent button{
    margin-top: 16px;
    background-color: var(--color-primary);
    padding: 12px 16px;
    border-radius: 8px;
    text-transform: none;
}
.heroContent button:hover{
    background-color: var(--color-btn-hover);
}
.categories{
    padding: 60px 0px;
}
.categories h1{
    font-family: 'Playfair Display, serif';
    font-weight: 700;
    color: var(--color-text-primary);
}
.CatCard{
    cursor: pointer;
    border-radius: 18px;
}
.CatCard img{
    object-fit: cover;
    transition: transform 0.4 ease;
}